@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap')

;root{
    --cor-de-fundo: #1E1E1E;
    --cinza: #808080;
    --verde-lemon: #32cd32;
    --vermelho-sangue: #8b0000;
    --r-g-b: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
}

body{
    background-color: var(--vermelho-sangue);
    color: var(--verde-lemon);
    font-family: 'Chakra Petch', sans-serif;
}


.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}